<%- include("partials/layout/landingHeader") %>
	
<div class="hero min-h-screen bg-base-200">
	<div class="hero-content lg:flex-row">
	  <img src="/img/thumbnail.jpg" class="max-w-md rounded-lg shadow-2xl " />
	  <div>
		
<<<<<<< HEAD
		<link rel="stylesheet" href="css/style.css">
	</head>
	<body>
		<header id="header">
			<div class = "logo-name">
				<img class = "logo" src="img/logoOnlyHead.png" alt="The logo for our awesome app">
				<h2 class = "header-title">Re:Mind</h2>
			</div>
			<nav>
				<ul class = "nav-menu">
					<li class = "nav-item">
						<a href="/" class = "nav-link">Home</a>
					</li>
					<li class = "nav-item">
						<a href="/completed" class = "nav-link">Completed Exercises</a>
					</li>
					<li class = "nav-item">
						<a href="/favorite" class = "nav-link">Favorited</a>
					</li>
				</ul>
				<div class = "hamburger">
					<span class = "bar"></span>
					<span class = "bar"></span>
					<span class = "bar"></span>
				</div>
			</nav>
		</header>
		<main>
			<section class="homepage">
				<% if(latest != "") {%>
					<% latest.forEach(exercise => {%>
						<iframe width="560"
							height="315"
							src="<%= exercise.videoURL %>"
							title="YouTube video player"
							frameborder="0"
							allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
							allowfullscreen
						>
						</iframe>
				
			</section>
			<section id="exercise-description">
				<div id="exercise-header">
					<h2 class="favorite-button" id="title"><%= exercise.title%></h2>
					<button type="button" class="favorite-button <%= exercise.isFavorite === true ? 'favorite' : 'not'%>" id="heart" aria-label="favorite" test= " <%=exercise._id %>">
						<i class="fa-solid fa-heart"></i>
					</button>
				</div>
				<div id="exercise-paragraph">
					<p class="center">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ea tenetur libero nesciunt 
					cumque unde deleniti hic quod aliquid autem 
					eveniet illum fuga cum, excepturi magni sunt quibusdam eaque, error veritatis.
					</p>
					
					<button type="button" class="completed-button center <%= exercise.isComplete === true ? 'completed' : 'undone'%> " data-id="<%=exercise._id %>">Mark as Completed</button>
				</div>
				<% }) %>
				<% } else { %>
					<p>No items found.</p>
			<% } %>
			</section>
		</main>
		<script type="text/javascript" src="js/main.js"></script>
	</body>
</html>
=======
		<h1 class="text-5xl font-bold leading-loose text-coral-dark flex items-center space-x-8"> 
			<!-- <img class="background-slate-700 mr-2" src="/img/remind-logo.svg" alt="The logo for our awesome app"> -->
			Re:Mind</h1>
		<p class="py-6 leading-loose text-slate-600">Provident cupiditate voluptatem et in. Quaerat fugiat ut assumenda excepturi exercitationem quasi. In deleniti eaque aut repudiandae et a id nisi.</p>

		<div class="mt-8 flex gap-x-2 sm:justify-center">
			<button class="font-semibold">
				<a class="py-4 px-6 ml-4 text-md text-white rounded-md bg-coral hover:bg-coral-dark shadow" href="/auth/login" role="button">Login</a>
			</button>
			<button class="font-semibold">
				<a class="py-4 px-4 ml-4 text-md text-white rounded-md bg-coral hover:bg-coral-dark shadow" href="/auth/signup" role="button">Sign Up</a>
			</button>
		  </div>
	  </div>
	</div>
  </div>


<%- include("partials/layout/footer") %>
>>>>>>> 1a1b333ee5ffdddb559276b9246099ec974378d0
